* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1551px;
    margin: auto;
}

/* ------------------- common styles ------------------------------*/
.common-btn {
    background-color: #2563EB;
    color: white;
    padding: 12px 41px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
}


/* ------------------ Navigation bar styles ----------------------- */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 8%;
}

.nav-logo img {
    width: 100%;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 28px;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #575757;
}

/* ------------------ hover effect for navigation bar ------------------- */
.nav-menu ul li a:hover {
    color: #7d7c7c;
}

/* ------------------ Hero Container styles --------------------*/

.hero-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0) 55%), url(./assets/banner.jpg);
    height: 786px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.hero-content {
    display: grid;
    gap: 16px;
    text-align: center;
}

.hero-title {
    font-size: 5rem;

}

.hero-description {
    width: 45%;
    margin: auto;
    font-size: 1.375rem;
}

.hero-btn-container .common-btn {
    margin-top: 350px;
    padding: 22px 50px;
    font-size: 1.3rem;
}

/*------------------ Meet The Speakers --------------------------*/

.common-container {
    margin: 80px 8%;
}

.common-title {
    text-align: center;
    margin: 50px 0px;
    font-size: 3.5rem;
    color: #000102;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.speaker {
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.speaker-body {
    display: grid;
    gap: 8px;
    padding: 24px;

}

.speaker-tag {
    font-weight: 600;
    font-size: 12px;
    color: #2563EB;
}

.speaker-name {
    font-weight: 700;
    font-size: 20px;
    color: #0D1B2A;
}

.speaker-body p {
    color: #575757;
}

.speaker img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

/* ----------------- Secure Your Spot Styles ---------------------- */
.spot-title {
    text-align: center;
    font-size: 3.5rem;
    color: #000102;
    margin-bottom: 10px;
}

.common-subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    color: #575757;
    font-weight: 500;
}

.price-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 9%;
    gap: 24px;
}

.price-card {
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.price-card-head {
    padding-bottom: 32px;
}

.price-card-body {
    margin-left: 20px;
    margin-bottom: 20px;
}

.price-card-body ul {
    display: grid;
    gap: 10px;
    color: #333333;
}

.price-card-body ul li::marker {
    color: #2563EB;
}

.price-card-head h2 {
    font-weight: bold;
    font-size: 44px;
    color: #0D1B2A;
}

.price-card-head p {
    font-weight: 500;
    font-size: 14px;
    color: #888888;
}

.price-card-footer button {
    width: 100%;
    text-align: center;
}

.outline-btn {
    border: 1px solid #2563EB;
    background: none;
    color: #2563EB;
}

.outline-btn-black {
    border: 1px solid #0D1B2A;
    background: none;
    color: #0D1B2A;
}

/* pro card style */
.pro-card {
    background-color: #0D1B2A;
}

.pro-card .price-card-head p {
    color: #93C5FD;
}

.pro-card .price-card-head h2,
.pro-card .price-card-body ul li,
.pro-person {
    color: #FFFFFF !important;
}

/* footer */
footer {
    padding: 32px 8% 24px;
    background-color: #0D1B2A;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A3AAB5;
}

.footer-right ul {
    display: flex;
    gap: 20px;
}

.footer-right ul li {
    list-style: none;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #bbc1ca;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid;
}

/* copy right */
.divider {
    border-top: 1px solid #2a2d35;
    margin: 24px 0 16px;
}

.copy-right {
    margin: 10px 0px;
    font-size: 13px;
    text-align: center;
    color: #A3AAB5;
}